.ledger_book {
    overflow: scroll;

    .ledger_row {
        display: flex;
        width: max-content;

        .ledger_col {
            width: 215px;
            border: 1px solid #ffffff24;
            text-align: center;
            padding: 10px 15px;
            box-sizing: border-box;
            text-wrap: wrap;
            border-right-width: 0;
            border-bottom-width: 0;

            &:last-child {
                border-right-width: 1px;
            }

            &.date {
                width: 200px;
            }

            &.receipt {
                width: 200px;
            }

            &.name {
                width: 200px;
            }
        }

        &:last-child {
            .ledger_book {
                border-bottom-width: 1px;
            }
        }

        &.ledger_heading {
            position: sticky;
            left: 0;
            top: 0;
            background-color: #283046;
            box-shadow: 0px 0px 10px #00000078;

            .ledger_col {
                // font-family: 'bangla';
                font-weight: 600;
                // font-size: 20px;
            }
        }

        &.ledger_footer {
            position: sticky;
            left: 0;
            bottom: 0;
            background-color: #283046;
            box-shadow: 0px 0px 10px #00000078;

            .ledger_col {
                // font-family: 'bangla';
                font-weight: 600;
                // font-size: 20px;
            }
        }
    }
}
